<html>

<head>
  <title>{{title}}</title>
</head>

<body>

 
  <app-header *ngIf="isUserLogIn()"></app-header>
  <div class="container" fxLayout="row" fxLaoutAlign="left" *ngIf="isUserLogIn()">
    <div class="item left-menu" fxFlex="15%">
      <table>
        <tr>
          <td class="menu-icon">
            <mat-icon [inline]="true" aria-hidden="false">home</mat-icon>
          </td>
          <td class="menu-label">
           
            <a style="color:#FFF;text-decoration: none;" routerLink="/dashboard">  Dashboard</a>
          </td>
        </tr>
        <tr>
          <td class="menu-icon">
            <mat-icon [inline]="true" aria-hidden="false">donut_large</mat-icon>
          </td>
          <td class="menu-label">
           
            <a style="color:#FFF;text-decoration: none;" routerLink="/category"> Category</a>
          </td>
        </tr>
        <tr>
          <td class="menu-icon">
            <mat-icon [inline]="true" aria-hidden="false">gavel</mat-icon>
          </td>
          <td class="menu-label">
            <a style="color:#FFF;text-decoration: none;" routerLink="/products"> Products </a>
          </td>
        </tr>
        <tr>
          <td class="menu-icon">
            <mat-icon [inline]="true" aria-hidden="false">bar_chart</mat-icon>
          </td>
          <td class="menu-label">
            <a style="color:#FFF;text-decoration: none;" routerLink="/stock"> Stock </a>
          </td>
        </tr>
        <tr>
          <td class="menu-icon">
            <mat-icon [inline]="true" aria-hidden="false">assignment</mat-icon>
          </td>
          <td class="menu-label">  
            <a style="color:#FFF;text-decoration: none;" routerLink="/order"> Order </a>
          </td>
        </tr>
      </table>
    </div>
    <div class="item page-content-back" fxFlex="85%">
      <div class="page-content-box" >
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="pageHeaderRow primary " fxLayout="row" fxLayoutAlign="center" *ngIf="isUserLogIn()">
    <div class="header-row-coloumn1" fxFlex="100%">
      FOOTER
    </div>   
  </div>
  <div style="height:100%;" *ngIf="!(isUserLogIn())">
    <app-authenticate *ngIf="!(isUserLogIn())"></app-authenticate>
  </div>
 
<!-- 
<app-message></app-message> -->

</body>

</html>